@font-face {
    font-family: 'rye';
    src: url('fonts/Rye-Regular.ttf');
}

html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'rye';
}

body {
    background-color: rgb(20, 19, 35);
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-image: url('img/bg-image-canyon.png');
    background-position: center;
}

h1 {
    color: white;
}

#container {
    position: relative;
    height: 480px;
}

#canvas {
    background-color: white;
}

#controls {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}