@font-face {
    font-family: 'rye';
    src: url('fonts/Rye-Regular.ttf');
}

html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'rye';
}

body {
    background-color: rgb(20, 19, 35);
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-image: url('img/bg-image-canyon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    cursor: pointer;
}

h1 {
    color: white;
}

a {
    color: white;
}

#container {
    position: relative;
    height: 480px;
}

canvas {
    background-color: white;
}

:fullscreen {
    canvas {
        height: 100%;
        width: 100%;
    }
}

#control-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top-controls, .bottom-controls {
    padding: 4px;
    gap: 16px;
    z-index: 1;
}

.top-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.top-controls button img {
    height: 32px;
    width: 32px;
}

.bottom-controls {
    display: flex;
    justify-content: space-between;
    display: none;
}

.top-controls .button,
.bottom-controls button {
  -webkit-touch-callout: none;
  user-select: none;
}

.styled-button {
    height: 64px;
    min-width: 64px;
    border-radius: 32px;
    border-style: solid;
    border-color: black;
    background-color: #dc560d;
    color: white;
    padding: 0;
}

.bottom-controls img {
    height: 40px;
}

.btn-right {
    transform: rotate(180deg);
}

.btn-jump {
    transform: rotate(90deg);
}

.button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
}

#help {
    height: 24px;
    width: 24px;
}

#volume {
    height: 32px;
    width: 32px;
}

#fullscreen {
    height: 32px;
    width: 32px;
}

#help-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 2;
}

.control-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 20%;

    span {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 24px;
        color: white;
    }
}

.control-card img {
    flex: 1;
    max-height: 80%;
    max-width: 100%;
}

.small-img {
    flex: none !important;
    height: 50%;
}

.d-none {
    display: none !important;
    visibility: hidden;
}

.image-flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#start-and-stop-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

    .background {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    button {
        margin-bottom: 6%;
        z-index: 2;
        height: 64px;

        span {
            font-size: 24px;
            font-family: 'rye';
            padding: 0 16px;
        }
    }

    .start-button {
        margin-bottom: 1%;
    }
}

#forceHorizontalScreenOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('img/bg-image-canyon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    display: none;

    img {
        height: 20%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}

.overlay {
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .background {
        height: 100%;
        width: 100%;
    }
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.bottom-controls {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: end;
}

.justify-content-center {
    justify-content: center
}

.game-state-img {
    transform: scale(1);
    animation: pulse 2s infinite;
}

.game-controls, .movement-controls{
    height: 100%;
    display: flex;
    align-items: end;
    gap: 8px;
    
    && .panel {
        gap: 8px;
        height: 100%;
        display: flex;
        align-items: end; 
    }

    && button {
        height: 16%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        && img {
            height: 70%;
        }

        && #btn-throw {
            height: 70%;
            aspect-ratio: 1 / 1;
        }

        && span {
            font-size: 2cqh;
        }
    }
}

.btn-throw:disabled, 
.btn-left:disabled, 
.btn-right:disabled, 
.btn-jump:disabled {
    display: none;
    visibility: hidden;

    && img {
        height: 40px;
    }
}

.impressum-game-link {
    display: none;
    visibility: hidden;
}

.styled-button:disabled {
    height: 64px;
    aspect-ratio: 1 / 1;

}

.movement-controls button {
    display: none;
    visibility: hidden;
}

@media(max-width: 1024px), (max-height: 1024px) {
    .game-header {
        display: none;
    }

    #container {
        height: 100dvh !important;
        width: 100dvw !important;
        position: fixed;
        inset: 0;
    }

    canvas {
        height: 100dvh;
        width: 100dvw;
    }

    .bottom-controls {
    display: flex;
    }

    #forceHorizontalScreenOverlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .game-controls, .movement-controls {
        && button {
            && span {
            font-size: 3cqh;
            }
        }
    }

    .impressum-link {
        display: none;
        visibility: hidden;
    }

    .impressum-game-link {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        visibility: visible;
        padding: 4px;
        z-index: 9999;
    }

    .btn-throw:disabled, 
    .btn-left:disabled, 
    .btn-right:disabled, 
    .btn-jump:disabled {
        display: block;
        visibility: visible;
    }

    .movement-controls button {
        display: block;
        visibility: visible;
    }
}