@font-face {
    font-family: 'rye';
    src: url('/fonts/Rye-Regular.ttf');
}

html, body {
    margin: 20px;
    box-sizing: border-box;
    font-family: 'rye', sans-serif;
}

body {
    background-color: rgb(20, 19, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/bg-image-canyon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

a {
    font-size: 18px;
    color: white;
}

p {
    font-size: 18px;
}

